/*header*/

header{
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  z-index: 2;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  font-family: 'Verdana';
  font-size: 14px;
  font-weight: bold;
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  height: 50px;
  margin-right: 10px;
}
  nav {
  padding: 30px 30px;
  display: inline-block;
}

/*universal style*/

.container {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  overflow: scroll;
}

#mission {
  display: flex;
  width: 100%;
}
#featured-tea {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
#location {
  display: flex;
  width: 100%;
  margin: 0 auto;
}


/*Mission*/

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');

}
.stories {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}

/*featured tea*/

.teaheading {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.entire img {
  height: 200px;
  width: 300px;

}
.entire {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-around;
}
.single figcaption {
 display: flex;
 justify-content: center;
 margin-top: 10px;
}

/*location*/

.frame {
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  margin-top: 15px;
}

.heading {
  display: flex;
  justify-content: center;
}

.whole {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
}


.place {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  background-color: black;
  align-items: center;
  margin-right: 40px;
  opacity: 1;
}

/*footer*/

.footer {
  background-color: black;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 200px;
  margin-top: 15px;
}
.copyright {
  margin-left: 20px;
  font-size: 15px;
}
